
html, body {
    height: 100%;
}

body {
    background-color: white;
    padding-top: 70px;
}

canvas {
    background: white;
    width: 100%;
    height: 100%;
    display: block;
}

.navbar-brand {
    padding-top: 10px;
}

.chart-container {
    padding: 1px;
    margin-bottom: 1rem;
}

#datePicker {
    max-width: 12rem;
    text-align: center;
    border-left: none;
}

#datePicker::-ms-clear {
    display: none;
}

#analyseBtn {
    margin-left: 1rem;
}

#alert {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 50vw;
}

#inner-alert {
    margin: 0 auto;
}

.toggle {
    margin-left: 1rem;
}

.panel-body > .row {
    margin-bottom: 2rem;
}

.infoPanel {
    position: absolute;
    left: 15px;
    overflow: hidden;
}

.infoPanelSpan {
    padding-left: 1rem;
}

#exportBtn, #sablonaBtn {
    display: none;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    img[src$=".svg"] {
      width: 100%; 
    }
}
